# Virtual environment
venv/
.env
*.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# Test cache
.pytest_cache/
.coverage
htmlcov/

# VSCode / IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
